#jumbo{
    margin-bottom:0rem;
}

.legend{
    width:auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.spaced-button{
    margin-bottom: 2px;
    margin-top: 2px;
}

.spaced-button-group{
    margin-bottom: 1rem;
    margin-left: 1rem;
}